
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::after, *::before{
    box-sizing: inherit;
}

ul,li ,a{
    text-decoration: none;
    list-style: none;
}


@import "./normalize";
@import "./varibales";
@import "./container";
