.navbar{
    font-family: 'Kanit', sans-serif;
    padding: 20px 0;
    &__toogle{
        display: none;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    &__list{
        width: 50%;
        color: white;
    }
    &__bg{
        margin-top: 2px;
        width: 0;
        height: 2px;
        background-color: red;
        transition: width 0.5s ease-in;
    }
    &__link{
        display: flex;
        width: 100%;
        color: white;
        font-size: 16px;
        transition: opacity 0.5s ease-in;
        &:hover ~ span{
            display: flex;
            width: 100%;
        }
        &:hover{
            opacity: 0.7;
        }
    }
    &__logo{
        color: white;
    }
    &__btn{
        color: white;
        border: none;
        background-color: rgb(203, 35, 63);
        padding: 6px 12px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.5s ease-in , color 0.5s ease-in;
        &:hover{
            background-color: white;
            color: red;
        }
    }
}


@media (max-width:1110px){
    .container{
        width: 90%;
    }
}

@media (max-width:659px){
    .navbar{
        &__list{
            display: none;
        }
        &__toogle{
            display: flex;
        }
    }
}